Data/test_footage
/.venv/
Data/test_footage/raw (1).mp4
Data/test_footage/raw (2).mp4
Data/test_footage/raw (3).mp4
Data/test_footage/raw (4).mp4
Data/test_footage/raw (5).mp4
Data/test_footage/raw (6).mp4
Data/test_footage/raw (7).mp4
*.mp4
*.pt
*.pyc
Simulation/__pycache__/config.cpython-313.pyc
Simulation/__pycache__/traffic.cpython-313.pyc
Simulation/__pycache__/sounds.cpython-313.pyc
Simulation/__pycache__/player.cpython-313.pyc
Simulation/__pycache__/config.cpython-313.pyc
Simulation/__pycache__/player.cpython-313.pyc
Simulation/__pycache__/sounds.cpython-313.pyc
.env
*.env
Simulation/Logs/ai_feedback.txt
Simulation/Logs/driving_warnings.csv
Simulation/Logs/driving_warnings.csv
Simulation/Logs/driving_warnings.csv
Simulation/__pycache__/player.cpython-313.pyc
/__pycache__/
/Logs/
