Data/test_footage
/.venv/
Data/test_footage/raw (1).mp4
Data/test_footage/raw (2).mp4
Data/test_footage/raw (3).mp4
Data/test_footage/raw (4).mp4
Data/test_footage/raw (5).mp4
Data/test_footage/raw (6).mp4
Data/test_footage/raw (7).mp4
*.mp4
*.pt
Simulation/__pycache__/player.cpython-313.pyc
/__pycache__/
__pycache__/launcher.cpython-313.pyc
Simulation/__pycache__/config.cpython-313.pyc
